<!DOCTYPE html>
<html ng-app="myApp">

<head>
<title>Almarssad Pro Player Database</title>
<meta charset="utf-8" />
<link rel="stylesheet"
	href="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet">
<link href="css/app.css" rel="stylesheet"></link>
<!-- <script type="text/javascript" src="js/libs/angular.js"></script> -->


<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
<script
	src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>

<script type="text/javascript" src="js/app.js"></script>
<!-- <script type="text/javascript" src="js/filter/filters.js"></script> -->
<script type="text/javascript" src="js/libs/datesControllers.js"></script>
<script type="text/javascript" src="js/controller/user_controller.js"></script>
<script type="text/javascript" src="js/service/user_service.js"></script>
<!-- <script type="text/javascript" src="js/libs/bootstrap-datepicker.js"></script> -->



</head>
<div id="headerLogo"></div>
<body class="ng-cloak">
	<div class="generic-container" ng-controller="UserController as ctrl">
		<div class="panel panel-default">
			<div class="panel-heading">
				<span class="lead">Player Registration Form </span>
			</div>
			<div class="formcontainer"
				style="height: 100%; width: 100%;display: inline-flex">
				<div style="width: 50%;">
					<form ng-submit="ctrl.submit()" name="myForm"
						class="form-horizontal">
						<input type="hidden" ng-model="ctrl.player.id" />

						<div class="form-group clearfix">
							<label class="col-sm-3 control-label">FirstName</label>

							<div class="col-xs-4">
								<input type="text" ng-model="ctrl.player.firstName"
									name="firstName" class="firstName form-control input-sm"
									placeholder="Enter the firstname" required ng-minlength="3" />
								<div class="has-error" ng-show="myForm.$dirty">
									<span ng-show="myForm.firstName.$error.required">This is
										a required field</span> <span
										ng-show="myForm.firstName.$error.minlength">Minimum
										length required is 3</span> <span ng-show="myForm.firstName.$invalid">This
										field is invalid </span>
								</div>
							</div>
						</div>


						<div class="form-group clearfix">
							<label class="col-sm-3 control-label">LastName</label>

							<div class="col-xs-4">

								<input type="text" ng-model="ctrl.player.lastName"
									name="lastName" class="lastName form-control input-sm" required
									placeholder="Enter the lastName" />
							</div>
						</div>

						<!-- 					<div class="form-group clearfix"> -->
						<!-- 						<label class="col-sm-3 control-label">Age</label> -->
						<!-- 						<div class="col-xs-4"> -->
						<!-- 							<input type="number" ng-model="ctrl.player.age" name="age" -->
						<!-- 								class="age form-control input-sm" required -->
						<!-- 								placeholder="Enter the age" /> -->
						<!-- 						</div> -->
						<!-- 					</div> -->


						<div class="form-group clearfix" ng-controller="datesControllers">
							<label class="col-sm-3 control-label">Birthdate</label>
							<div class="col-xs-4">
								<p class="input-group">
									<input type="text" class="birthDate form-control"
										name="birthDate" uib-datepicker-popup
										ng-model="ctrl.player.birthDate" is-open="popup2.opened"
										datepicker-options="dateOptions" ng-required="true" required
										close-text="Close" placeholder="Enter the birth date" /> <span
										class="input-group-btn">
										<button type="button" class="btn btn-default"
											ng-click="open2()">
											<i class="glyphicon glyphicon-calendar"></i>
										</button>
									</span>
								</p>
							</div>
						</div>
						<div class="form-group clearfix">
							<label class="col-sm-3 control-label">Birthplace</label>
							<div class="col-xs-4">
								<input type="text" ng-model="ctrl.player.birthPlace"
									name="birthPlace" class="birthPlace form-control "
									placeholder="Enter the birth Place" required />
							</div>
						</div>
						<div class="form-group clearfix">
							<label class="col-sm-3 control-label">Nationality</label>
							<div class="col-xs-4">
								<input type="text" ng-model="ctrl.player.nationality"
									name="nationality" class="nationality form-control "
									placeholder="Enter the Nationality" required />
							</div>
						</div>
						<div class="form-group clearfix">
							<label class="col-sm-3 control-label">Position</label>

							<div class="col-xs-4">

								<input type="text" ng-model="ctrl.player.position"
									name="position" class="position form-control "
									placeholder="Enter the position" required />
							</div>
						</div>

						<div class="form-group clearfix">
							<label class="col-sm-3 control-label">Club</label>
							<div class="col-xs-4">
								<input type="text" ng-model="ctrl.player.nowClub" name="nowClub"
									class="nowClub form-control "
									placeholder="Enter the actual club" required />
							</div>
						</div>


						<!-- 					<div class="form-group clearfix" ng-controller="datesControllers"> -->
						<!-- 						<label class="col-sm-3 control-label">Registreddate</label> -->
						<!-- 						<div class="col-xs-4"> -->
						<!-- 							<p class="input-group"> -->
						<!-- 								<input type="text" class="birthDate form-control" -->
						<!-- 									name="registredDate" uib-datepicker-popup -->
						<!-- 									ng-model="ctrl.player.registredDate" is-open="popup2.opened" -->
						<!-- 									datepicker-options="dateOptions" ng-required="true" required -->
						<!-- 									close-text="Close" placeholder="Enter the birth date" /> <span -->
						<!-- 									class="input-group-btn"> -->
						<!-- 									<button type="button" class="btn btn-default" -->
						<!-- 										ng-click="open2()"> -->
						<!-- 										<i class="glyphicon glyphicon-calendar"></i> -->
						<!-- 									</button> -->
						<!-- 								</span> -->
						<!-- 							</p> -->
						<!-- 						</div> -->
						<!-- 					</div> -->



						<div class="row">
							<div class="form-actions floatRight">
								<input type="submit"
									value="{{!ctrl.player.id ? 'Add' : 'Update'}}"
									class="btn btn-primary btn-sm" ng-disabled="myForm.$invalid">
								<button type="button" ng-click="ctrl.reset()"
									class="btn btn-warning btn-sm" ng-disabled="myForm.$pristine">Reset
									Form</button>
							</div>
						</div>
					</form>
				</div>
				<div style="width: 30%;" ng-show="ctrl.player.id">
					<div class="col-xs-4" style="">
						<a href="#"> <img class="bilderrahmen-form"
							ng-src="img/{{ctrl.player.nationality}}.png" /></a>
					</div>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<!-- Default panel contents -->
			<div class="panel-heading">
				<span class="lead">List of Players </span>
			</div>

			<div class="tablecontainer">


				<div class="panel-heading">
					<div class="row">
						<div class="bar">
							<!-- Create a binding between the searchString model and the text field -->
							<input type="text" ng-model="searchString"
								placeholder="Enter your search terms" />
						</div>
					</div>

					<table class="table table-striped table-bordered adviqo-list">
						<thead class="theadClass">
							<tr>
								<th>Image</th>
								<th>Name</th>
								<th>LastName</th>
								<th>Age</th>
								<th>Birthdate</th>
								<th>Birthplace</th>
								<th>Nationality</th>
								<th>position</th>
								<th>Actuel Club</th>
								<th width="20%"></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="u in ctrl.players | filter:searchString">

								<td><a href="#"> <img class="bilderrahmen-table"
										ng-src="img/{{u.nationality}}.png" /></a></td>

								<td><span ng-bind="u.firstName"></span></td>
								<td><span ng-bind="u.lastName"></span></td>
								<td><span ng-bind="u.age"></span></td>
								<td>{{u.birthDate | date : 'yyyy-MM-d'}}</td>
								<td><span ng-bind="u.birthPlace"></span></td>
								<td><span ng-bind="u.nationality"></span></td>
								<td><span ng-bind="u.position"></span></td>
								<td><span ng-bind="u.nowClub"></span></td>
								<td>
									<button type="button" ng-click="ctrl.edit(u.id)"
									class="btn btn-warning custom-width">Edit</button>
									<button type="submit" ng-click="ctrl.remove(u.id)"
										class="btn btn-danger custom-width">Remove</button>
									<button type="submit" ng-click="ctrl.approve(u.id)"
										class="btn btn-success custom-width">Approve</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>


</html>