#headerLogo {
  width:100%;
  margin: auto;
  height: 137px;
  background-image:url("img/HeaderpageV2.jpg");
  
}
body, #mainWrapper {
	height: 70%;
	background-color:rgb(245, 245, 245);
	background-image:url("img/sports_bg.jpg");
}

body, .form-control{
	font-size:12px!important;
}

.floatRight{
	float:right;
	margin-right: 18px;
}

.has-error{
	color:red;
}

.formcontainer{
	background-color: #DAE8E8;
	padding: 20px;
}

.tablecontainer{
	padding-left: 20px;
}

.generic-container {
  width:80%;
  margin: auto;
  padding: 20px;
  background-color: #EAE7E7;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 0 30px black;
}

.custom-width {
    width: 80px !important;
}
