<!DOCTYPE html>
<html>
<head>
    <title>AlmarssadPro</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
   
</head>
<body>
<!-- Header -->

<div th:replace="fragments/menu :: menu">
    
</div>
<div class="container">
    <div class="hero-unit">
        <h1>Service</h1>
    </div>
    <div>
        <h1> Report</h1>
        <p>
          List
        </p>
        <table width="100%" border="1" >
            <thead>
                <tr>
                    <th width="15%"> Fistname</th>
                    <th width="15%"> Lastname</th>
                    <th width="10%"> birthDate</th>
                    <th width="10%"> Birthplace</th>
                    <th width="10%"> Age</th>
                    <th width="15%"> Nationality</th>
                    <th width="15%"> Actuel Club</th>
                    <th width="10%"> Position</th>
                </tr>
            </thead>
            <tbody>
					<tr th:each="players : ${players}">

						<td th:text="${players.firstName}"> fistname</td>
						<td th:text="${players.lastName}"> lastname</td>
						<td th:text="${players.birthDate}"> birthplace</td>
						<td th:text="${players.birthPlace}"> birthplace</td>
						<td th:text="${players.age}"> age</td>
						<td th:text="${players.nationality}"> nationality</td>
						<td th:text="${players.nowClub}"> club</td>
						<td th:text="${players.position}"> position</td>
					</tr>
				</tbody>
        </table>
    </div>   
    <div th:replace="fragments/footer :: footer"></div>
</div>
</body>

</html>